<%- include("../partials/user-header.ejs") -%>
<div class="col-md-8 offset-4 mt-3">
    <h4><b>Page not found</b></h4>
    <small class="text-muted">click logo to go home</small>
</div>
<div style="height: 40vh;"></div>

<%- include("../partials/user-footer.ejs") -%>