html{
    font-size: 16px;
}

body{
    background: rgb(246,246,246);
    font-family: 'Poppins',sans-serif;
}
.second_color{
    background: rgb(255, 237, 225,1);
}
.div_logo{
    width: 15.5rem;
    height: 2.5rem;
    padding: 1.8rem;
    background: url(../img/desert-logos_black.png);
    background-position: center;
    background-size: cover;
}

.signup , .logout{
    text-decoration-line: none;
    color: rgb(109, 105, 105);
    padding-left: .2rem;

}
.signup:hover ,.logout:hover{
    cursor: pointer;
    font-weight: 400;
    font-size: 1.05rem;
    text-decoration-line:underline ;
}


.carousel-item img {
    height: 100%;
  }
  .banner .carousel-inner {
    height: 80vh;
  }
  
  @media (max-width: 768px) {
    .banner .carousel-inner {
      height: 50vh;
    }
    .dropdownSearch{
        display: none;
    }
    .dynamicsearch{
      display: none;
    }
   
  }


.categoryone,
.categorytwo,
.categorythree{
    height: 340px;
    position: relative;
}

.categoryone button,
.categorytwo button,
.categorythree button{
    position: absolute;
    top: 280px;
    left: 25px;
  }
.imgPointer:hover{
    cursor: pointer;
  }
  .btn-main{
      color: rgb(244, 88, 1,1);
      background-color: rgb(247, 247, 247);
    }
    .btn-main:hover{
    color: white;
    background-color:rgb(244, 88, 1,1) ;
  }
  .submitdiv{
    padding-top: 20px;
    margin-left: 2vw;
    width: 40vw;
  }
.parasubscribtion{
    margin-left: 2vw;
    width: 50vw;
    height: 90px;
}
.searchbox{
    padding-bottom: 30px;
    width: 50vw;
}

.unorderedList{
  line-height: 3;
  list-style-type: none;
}
.unorderedList h2{
  font-size: 1rem;
  font-weight: 600;
}
.unorderedList li{
  font-size: .8rem;
}

/* end of homeland */


.btn-filter{
  color: white;
  background-color: rgb(244, 88, 1,1) ;
  border: none;
  border-radius: 5px;
}
.btn-filter:hover{
  color: rgb(244, 88, 1,1);
  background-color: white;
  border-color:rgb(244, 88, 1,1) ;
  border-radius: 25px;
}

.filters h2{
  font-size: 1rem;
  font-weight: 600;
}
.filters ul{
  list-style: none;
}
.filters ul li{
  color: #5f5f5f;
}
.filters label{
  cursor: pointer;
}

.selected-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #000;
}

.cardborder{
  border: none;
}
  
  
/* for user cart wishlist  */
  
.icon-container {
  position: relative;
  display: inline-block;
  margin-right: 20px; 
  /*  */
  position: relative;
  display: inline-block;
}


.icon {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
.dropdown-content{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:rgb(255, 237, 225,1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  border-radius: 5px;
}
.dropdown-content a {
  border-radius: 5px;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #333;
  background:  rgb(255, 237, 225,1);
}
.dropdown-content a:hover{
  color: #f9f9f9;
  background: rgb(244, 88, 1,1);
}

.count-circle {
  position: absolute;
  top: -10px;
  right: 0;
  width: 17px; 
  height: 17px;
  background-color: green;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

/* for hover product card */
.card-hover:hover{
  cursor: pointer;
}