.btn-outline-custom{
    border-color:rgb(244, 88, 1,1) ;
    color: rgb(244, 88, 1,1);
}
.btn-outline-custom:hover{
    background-color: rgb(244, 88, 1,1);
    border-color: rgb(244, 88, 1,1);
    color: #f9f9f9;
}
.costom-hight-address{
    height: 50px;
}

.formcreatecss{
    border-radius: 5px;
    box-shadow: -1px 1px 5px rgba(125, 123, 123, 0.621);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rounded-border {
    border: 2px solid black;
    border-radius: 5px;
  }

.addressblock a{
  text-decoration: none;
}
.addressblock a:hover{
  opacity: 0.7;
}

