.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }


  #gobackbtn{
    border: none;
    background-color: rgb(246,246,246);
  }
  #gobackbtn:hover{
    opacity: .8;
  }

  .zoom{
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
  }
  .zoom img:hover{
    opacity: 0;
  }
  .zoom img{
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  }
