<%- include("../partials/auth-header.ejs") -%>

<div class="container-fluid div_logo" onclick="goToHome()"></div>
<div class="d-fle flex-column justify-content-center">
<div class="card col-md-6 offset-md-3  ">
    <div class="card-body">
        <h3 class="header-color card-title">Create New Password</h3>
        <form action="/forgotPassChange" method="post" onsubmit="return validatepasschange()">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="********">
                <input type="hidden" class="form-control" name="email" id="email" value="<%= email %>">
                <small class="error-message text-danger" id="passwordError"></small>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="ConfirmPassword" placeholder="********">
                <small class="error-message text-danger" id="ConfirmPasswordError"></small>
            </div>
            <div class="text-center p-3">
                <button class="btn btn-primary submit_button" type="submit"><span class="submit_text">REQUEST OTP</span></button>
            </div>
        </form>
        <div class="text-center mt-2">
            <p class="text-secondary">Back to <a href="/login">Login</a></p>
        </div>
    </div>
</div>

<%- include("../partials/auth-footer.ejs") -%>
