<%- include("../partials/auth-header.ejs") -%>

<div class="container-fluid div_logo" onclick="goToHome()"></div>
<div class="d-fle flex-column justify-content-center">
<div class="card col-md-6 offset-md-3  ">
    <div class="card-body">
        <h3 class="header-color card-title">Forgot Password</h3>
        <form action="/forgotPassword" method="post" onsubmit="return validateEmailForgot()">          
            <div class="form-group mt-4">
                <label for="email">Enter Registered Email:</label>
                <input type="email" class="form-control <%- locals.message === 'emailError' ? 'border border-danger' : '' %>
                 mt-2" id="email" name="email" placeholder="sample@mail.com " >
                <small class="error-message text-danger" id="emailError"><%= locals.message === 'emailError' ? locals.error.message : '' %></small>
            </div>
            <div class="text-center p-3">
                <button class="btn btn-primary submit_button" type="submit"><span class="submit_text">SEND OTP</span></button>
            </div>
        </form>
        <div class="text-center d-flex justify-content-center mt-2">
            <p class="text-secondary"><a href="/login">Login</a></p>
        </div>
    </div>
</div>

<%- include("../partials/auth-footer.ejs") -%>
